html,
body {
  font-size: 16px;
  margin: 0;
  width: 100%;
  box-sizing: content-box;
  border: 0;
  font-family: "Open Sans", sans-serif;
  color: #18181f;
  overflow-x: hidden;
}

.main-container {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0 75px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 9rem;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 5.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  font-size: 1.125rem;
}

a {
  text-align: center;
  text-decoration: none;
}

.btn-primary-cta {
  min-width: 8rem;
  width: auto;
  padding: 0.85rem 1.25rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.8rem;
  background: #fff;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s all;
}

.btn-primary-cta:hover {
  color: #fff;
  background: linear-gradient(90deg, #fcc605 0%, #fd0a23 100%);
  transition: 0.5s all;
}

.btn-secondary-cta {
  font-family: "Space Grotesk", sans-serif;
  min-width: 8rem;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #000;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.85rem 1.25rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: 3px solid #fff;
}

.btn-secondary-cta p {
  width: auto;
  height: 8px;
}

.btn-secondary-cta:hover {
  background: #fff;
  fill: black !important;
  color: #000;
}

.btn-secondary-cta svg path {
  stroke: #fff;
}

.btn-secondary-cta:hover svg path {
  stroke: #000;
}

.btn-secondary-icon-cta {
  font-family: "Space Grotesk", sans-serif;
  width: fit-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #000;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.85rem 1.25rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: 3px solid #fff;
}

.btn-secondary-icon-cta p {
  width: auto;
  height: 8px;
}

.btn-secondary-icon-cta:hover {
  background: #fff;
  color: #000;
}

.btn-secondary-icon-cta svg path {
  stroke: #fff;
  fill: #fff;
}

.btn-secondary-icon-cta:hover svg path {
  stroke: #000;
  fill: #000;
}

.hero-section {
  display: flex;
  width: 100%;
  padding-top: 12rem;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url(background.jpg), lightgray 20% / cover no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-custom {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12.5px);
  width: 100%;
  display: flex;
  padding: 16px 75px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  position: fixed;
  z-index: 10;
}

.hero-section .wrapper {
  display: flex;
  padding: 48px 75px;
  display: flex;
  align-items: flex-end;
  gap: 2.5rem;
  align-self: stretch;
}
.hero-section .wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.5rem;
  flex: 1 0 0;
}

.hero-section .wrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero-section .wrapper .left .hero-section-heading {
  color: #fff;
}
.hero-section .wrapper .left .hero-section-description {
  color: #fff;
}

.hero-section .wrapper .right .scroll-animation {
  width: 156px;
}

.why-choose-us {
  display: flex;
  padding: 12rem 4.6875rem;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

.why-choose-us .section-heading {
  color: #fff;
  text-align: center;
}
.why-choose-us .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.why-choose-us .wrapper .child {
  background: #fff;
  display: flex;
  padding: 3rem 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  flex: 1 0 0;
  align-self: stretch;
  transition: 0.5s all;
}
.why-choose-us .wrapper .child:hover {
  transition: 0.7s all;
  background: url(/card-picture.jpg), black 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;

  color: #fff;
}

.why-choose-us .wrapper .child:hover svg path {
  stroke: #fff;
  fill: #fff;
}

.why-choose-us .wrapper .child:hover svg rect {
  stroke: #fff;
  fill: #fff;
}

.why-choose-us .wrapper .child:hover svg circle {
  stroke: #fff;
  fill: #fff;
}

.row1 {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.campaign-container {
  background-color: #f3faff;
  padding: 120px 75px;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
}

.campaign-header {
  margin-bottom: 20px;
}

.campaign-title {
  color: #ff6b6b;
  margin: 0;
}

.campaign-subtitle {
  color: #5c3c5c;
  margin: 0;
}

.campaign-description {
  margin-top: 60px;
}

.steps-container {
  width: 100%;
  text-align: center;
}
.steps {
  display: flex;
  padding: 48px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 10px;
  gap: 24px;
}

.step {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border: 1px solid #f1f9ff;
  text-align: left;
  transition: 0.3s all;
}

.step:hover {
  background-color: #5c3c5c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  color: #fff;
  transition: 0.3s all;
}
.step:hover .step-title {
  color: #fff;
  transition: 0.3s all;
}

.step-title {
  color: #5c3c5c;
  margin-top: 0;
}

.step p {
  margin: 10px 0;
}

.step ul {
  margin: 10px 0;
  padding-left: 20px;
}

.step li {
  margin-bottom: 5px;
}

.choose-test {
  background-color: #000;
  flex-direction: column;
}

.choose-test-type {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-self: stretch;
  padding: 100px 75px;
}

.choose-test-type .section-heading {
  color: #fff;
}

.choose-test-type .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.choose-test-type .wrapper .child {
  background: white;
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
  flex: 1 0 0;
  align-self: stretch;
  transition: 0.5s all;
}

.choose-test-type .wrapper .child:hover {
  transition: 0.5s all;
  border-radius: 15px;
  cursor: pointer;
  scale: 1.05;
}

.child svg rect,
.child svg circle {
  fill: black;
  transition: fill 0.3s ease;
}

/* Change the fill color on click */
.child.clicked svg rect,
.child.clicked svg circle,
.child.clicked svg path {
  fill: white;
}

.number_steps .wrapper .child,
.shape_steps .wrapper .child {
  transition: 0.7s all;
  background: #fff;
  color: #000;
}

.number_steps .wrapper .child:hover,
.shape_steps .wrapper .child:hover {
  transition: 0.7s all;
  background: url(/card-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.shape_steps .wrapper .child:hover svg rect,
.shape_steps .wrapper .child:hover svg circle {
  fill: #fff;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fade-in-animation 1s ease forwards;
}

.Shapequiz {
  color: #fff;
  display: flex;
  padding: 8rem 0rem 5rem 0rem;
  gap: 0rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.Shapequiz .ScoreQuestion {
  display: flex;
  padding: 0rem 4.6875rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.Shapequiz .ScoreQuestion .Score {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.Shapequiz .ScoreQuestion .Question {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.Shapequiz .ScoreQuestion .Question .Remaining {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.25rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content .section-heading {
  text-align: center;
}

.Shapequiz .QuestionContainer {
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Shapequiz .QuestionContainer .ImgQuestion {
  width: 456px;
  height: 456px;
  padding: 1rem;
}

.Shapequiz .AnswerContainer {
  display: flex;
  padding: 0rem 8rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.Shapequiz .AnswerContainer .option {
  display: flex;
  width: 15%;
  padding: 0.75rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.Shapequiz .AnswerContainer .option svg {
  width: 3rem;
  height: 3rem;
}

.Shapequiz .AnswerContainer .option:hover {
  background: linear-gradient(90deg, #fcc605 0%, #fd0a23 100%);
}

.Shapequiz .AnswerContainer .option:hover svg circle,
.Shapequiz .AnswerContainer .option:hover svg rect,
.Shapequiz .AnswerContainer .option:hover svg path {
  fill: #fff;
}

.Shapequiz .WrapperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

/* Existing styles ... */

/* Modal styles */
.modal {
  color: #000;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* ... Existing styles ... */

@keyframes fade-in-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.step:nth-child(1) {
  animation-delay: 0.5s;
}
.step:nth-child(2) {
  /* display: none; */
  animation-delay: 0.9s;
}
.step:nth-child(3) {
  /* display: none; */
  animation-delay: 1.3s;
}

/* Apply animation to specific elements */
.campaign-container,
.campaign-header,
.steps,
.step {
  animation-delay: 0.3s; /* Delay to stagger the animation */
}

.campaign-title,
.campaign-subtitle,
.step-title,
.step p,
.step li {
  animation-delay: 0.5s; /* Delay to stagger the animation */
}

@media (max-width: 768px) {
  /* Add your responsive styles here */
}

/* Styles for screens with a maximum width of 576px */
@media (max-width: 576px) {
  /* Add your responsive styles here */
  h1 {
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 700;
  }

  h2 {
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.85rem;
  }

  h5 {
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h6 {
    font-size: 1rem;
  }

  body {
    background: #000;
  }

  .btn-primary-cta {
    min-width: 5rem;
    width: auto;
    padding: 0.45rem 1rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.6rem;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    transition: 0.5s all;
  }

  .btn-primary-cta:hover {
    color: #fff;
    background: linear-gradient(90deg, #fcc605 0%, #fd0a23 100%);
    transition: 0.5s all;
  }

  .btn-secondary-cta {
    font-family: "Space Grotesk", sans-serif;
    min-width: 5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    background: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.35rem 1rem;
    cursor: pointer;
    border-radius: 0.8rem;
    border: 2px solid #fff;
  }

  .hero-section {
    display: flex;
    width: 100%;
    padding-top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url(background.jpg), black 20% / cover no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5.5rem;
  }

  .navbar-custom {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12.5px);
    width: 100%;
    display: flex;
    padding: 16px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    position: fixed;
    z-index: 10;
  }

  .navbar-custom svg {
    width: 120px;
    height: auto;
  }

  .hero-section .wrapper {
    display: flex;
    height: auto;
    padding: 4rem 16px;
    display: flex;
    align-items: flex-end;
    gap: 2.5rem;
    align-self: stretch;
  }

  .hero-section .wrapper .right {
    display: none;
  }

  .why-choose-us .child .row1 {
    gap: 1rem;
    align-items: center;
    height: auto;
  }

  .why-choose-us .child svg {
    width: 56px;
    height: auto;
  }
  .why-choose-us {
    display: flex;
    padding: 4rem 1rem;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
  }
  .why-choose-us .wrapper {
    flex-direction: column;
  }

  .navbar-custom .btn-secondary-cta {
    gap: 0.25;
  }
  .navbar-custom .btn-secondary-cta svg {
    width: 24px;
    height: 24px;
  }
  .choose-test-type {
    margin-top: 5.5rem;
    gap: 3.5rem;
    align-self: stretch;
    padding: 24px 16px;
  }
  .content .section-heading {
    text-align: left;
  }
  .choose-test-type .wrapper {
    flex-direction: column;
  }
  .choose-test-type .wrapper svg {
    width: 120px;
    height: auto;
  }
  .choose-test-type .wrapper .child {
    padding: 1rem;
    gap: 1rem;
  }

  .content {
    gap: 0.75rem;
  }


  .Shapequiz {
    gap: 2rem;
  }
  .Shapequiz .ScoreQuestion {
    display: flex;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .Shapequiz .QuestionContainer {
   width: 100%;
   gap: 1rem;
   padding: 0 1rem;
  }
  .Shapequiz .QuestionContainer h2{
    width: 100%;
  }
  .Shapequiz .QuestionContainer .ImgQuestion{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }


.Shapequiz .AnswerContainer{
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}

.Shapequiz .AnswerContainer .option {
  width: 100%;
  padding: 0.75rem .25rem;
}
  
  
}

/* Styles for screens with a minimum width of 1200px */
@media (min-width: 1200px) {
  /* Add your responsive styles here */
}
