html,
body {
  font-size: 16px;
  margin: 0;
  /* width: 100vw; */
  box-sizing: content-box;
  border: 0;
  font-family: "Open Sans", sans-serif;

  color: #18181f;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0 75px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 9rem;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 5.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  font-size: 1.125rem;
}

.btn-primary-cta {
  width: auto;
  padding: 16px 36px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  align-items: flex-start;
  gap: 48px;
  border-radius: 8px;
  background: #fff;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s all;
}

.btn-primary-cta:hover {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(90deg, #fcc605 0%, #fd0a23 100%);
  transition: 0.5s all;
}

.btn-secondary-cta {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  border: 3px solid #fff;
}

.btn-secondary-cta p {
  width: auto;
  height: 8px;
}

.btn-secondary-cta:hover {
  background: #fff;
  fill: black !important;
  color: #000;
}

.btn-secondary-cta svg path {
  stroke: #fff;
}

.btn-secondary-cta:hover svg path {
  stroke: #000;
}

.hero-section {
  display: flex;
  width: 1920px;
  padding-top: 12rem;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url(background.jpg);
  background-position: center;
  background-size: cover;
}

.navbar-custom {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12.5px);
  width: 100%;
  display: flex;
  padding: 16px 75px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  position: fixed;
  z-index: 10;
}

.hero-section .wrapper {
  display: flex;
  padding: 48px 75px;
  display: flex;
  align-items: flex-end;
  gap: 2.5rem;
  align-self: stretch;
}
.hero-section .wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.5rem;
  flex: 1 0 0;
}
.hero-section .wrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2.5rem;
}

.hero-section .wrapper .left .hero-section-heading {
  color: #fff;
}
.hero-section .wrapper .left .hero-section-description {
  color: #fff;
}

.hero-section .wrapper .right .scroll-animation {
  width: 156px;
}

.why-choose-us {
  display: flex;
  padding: 12rem 4.6875rem;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

.why-choose-us .section-heading {
  color: #fff;
  text-align: center;
}
.why-choose-us .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.why-choose-us .wrapper .child {
  background: #fff;
  display: flex;
  padding: 3rem 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  flex: 1 0 0;
  align-self: stretch;
  transition: 0.5s all;
}
.why-choose-us .wrapper .child:hover {
  transition: 0.5s all;
  background: url(/card-picture.jpg), lightgray 50% / cover no-repeat;
  color: #fff;
}

.why-choose-us .wrapper .child .row1 {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}

.campaign-container {
  background-color: #f3faff;
  padding: 120px 75px;
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
}

.campaign-header {
  margin-bottom: 20px;
}

.campaign-title {
  color: #ff6b6b;
  margin: 0;
}

.campaign-subtitle {
  color: #5c3c5c;
  margin: 0;
}

.campaign-description {
  margin-top: 60px;
}

.steps-container {
  width: 100%;
  text-align: center;
}
.steps {
  display: flex;
  padding: 48px;
  align-items: flex-start;
  gap: 48px;
  border-radius: 10px;
  gap: 24px;
}

.step {
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border: 1px solid #f1f9ff;
  text-align: left;
  transition: 0.3s all;
}

.step:hover {
  background-color: #5c3c5c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  color: #fff;
  transition: 0.3s all;
}
.step:hover .step-title {
  color: #fff;
  transition: 0.3s all;
}

.step-title {
  color: #5c3c5c;
  margin-top: 0;
}

.step p {
  margin: 10px 0;
}

.step ul {
  margin: 10px 0;
  padding-left: 20px;
}

.step li {
  margin-bottom: 5px;
}

.choose-test {
  background-color: #000;
  flex-direction: column;
}

.choose-test-type {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  align-self: stretch;
  padding: 100px 75px;
}

.choose-test-type .section-heading {
  color: #fff;
}

.choose-test-type .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.choose-test-type .wrapper .child {
  background: white;
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
  flex: 1 0 0;
  align-self: stretch;
  transition: 0.5s all;
}
.wrapper .child:hover {
  transition: 0.5s all;
  border-radius: 15px;
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fade-in-animation 1s ease forwards;
}

@keyframes fade-in-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.step:nth-child(1) {
  animation-delay: 0.5s;
}
.step:nth-child(2) {
  /* display: none; */
  animation-delay: 0.9s;
}
.step:nth-child(3) {
  /* display: none; */
  animation-delay: 1.3s;
}

/* Apply animation to specific elements */
.campaign-container,
.campaign-header,
.steps,
.step {
  animation-delay: 0.3s; /* Delay to stagger the animation */
}

.campaign-title,
.campaign-subtitle,
.step-title,
.step p,
.step li {
  animation-delay: 0.5s; /* Delay to stagger the animation */
}

/* Rest of your styles */
